* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  width: 1100px;
  margin: auto;
  /* padding: 20px; */
  /* border: 3px solid orangered; */
  background-color: #f7f7f7;
}

.cv-container {
  background-color: rgb(237, 237, 237);
}

.header {
  display: flex;
  /* flex-flow: column; */
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 100px;
}

.left-container {
  background-color: #444;
  color: #fff;
}

.profile-img {
  width: 80px;
  border-radius: 550%;
  /* border: 2px solid #fff; */
}

.nav-bar {
  width: 600px;
}

.nav-items {
  display: flex;
  justify-content: space-around;
  /* margin-bottom: 30px; */
}

.main-content {
  display: flex;
}

li {
  list-style: none;
  font-size: 20px;
}

li a {
  /* color: #fff; */
  text-decoration: none;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;

  background-color: #c7bfbf;
}

.rs-logo {
  width: 100px;
}

.footer a {
  color: #fff;
  text-decoration: none;
}
