/* ============= GENERAL CSS ============= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Ubuntu", sans-serif;
  /* scroll-behavior: smooth; */

  font-size: 62.5%;
}

body {
  background-color: #f7f7f7;
}

li {
  list-style: none;
}

a:link,
a:hover,
a:visited,
a:active {
  text-decoration: none;
  color: #fff;
}

/* ============= REUSABLE CLASSES ============= */
.section {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.section__header-wrapper {
  display: flex;
  gap: 1.5rem;
}

.section__header {
  color: #313c4e;
  font-size: 2.4rem;
  text-transform: uppercase;
  font-weight: 600;
}

.main-header {
  font-weight: 400;
  font-size: 3.6rem;
  text-transform: none;
}

.section__sub-header {
  color: #449399;
  font-size: 1.8rem;
}

.section__desc {
  color: #000;
  font-size: 1.6rem;
}

.section__header__icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  width: 4rem;
  height: 4rem;
  background-color: #313c4e;
}

.section__list--projects {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 3rem;
}

.section__list__img {
  width: 30rem;
  border-radius: 1rem;
  opacity: 0.8;
  cursor: pointer;
  transition: transform 0.5s;
}

.section__list__img:hover {
  opacity: 1;
  box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2),
    0 0.6rem 2rem 0 rgba(0, 0, 0, 0.19);
  transform: scale(1.1);
}

.section--reveal {
  transition: transform 1s, opacity 1s;
}

.section__header__icon {
  width: 2.5rem;
}

.section__list__icon {
  width: 2.5rem;
}

.section__list__icon path {
  fill: #313c4e;
}

.section__list__item {
  font-size: 1.6rem;
}

.section__header--skills {
  color: #fff;
}

/* ============= MAIN CSS ============= */
.cv-wrapper {
  background-color: rgb(237, 237, 237);
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 2rem 3rem 0 3rem;
  line-height: 1.5;
  max-width: 118rem;
  margin: 0 auto;
}

.main-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0 2rem 0;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 3rem;
}

.section--summary,
.section--experience,
.section--education,
.section--course,
.section--projects {
  padding-top: 15rem;
}

.section__header-wrapper--main-header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.section__list__item--experience,
.section__list__item--education,
.section__list__item--courses {
  font-weight: bold;
  font-size: 1.8rem;
}

.section__list__item__desc {
  font-weight: normal;
  margin-left: 1rem;
}

.cyan-txt {
  font-size: 1.4rem;
  font-weight: normal;
  color: #449399;
  font-style: italic;
  margin-left: 1rem;
}

.section__list__icon-wrapper {
  width: 3.8rem;
  height: 3.8rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
}

.section__list--contact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.section__list__item--contact {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 2rem;
}

.section__list__item--skills {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.section__list--skills {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.section__header--languages {
  color: #fff;
}

/* ============= NAVIGATION ============= */
.nav {
  display: flex;
  align-items: center;

  height: 6rem;
  width: 100%;
  border-radius: 8rem 1rem;
  background-color: #313c4e;
}

.nav__links {
  display: flex;
  justify-content: space-around;
  align-items: center;

  height: 6rem;
  width: 100%;

  padding: 0 2rem;
}

.nav__item a:hover,
.nav__item a:visited,
.nav__item a:active,
.nav__item a:link {
  font-size: 1.6rem;
}

/* ============= BURGER MENU AND NAV ============= */
.burger-menu {
  margin-left: auto;
  margin-right: 5rem;

  background-color: transparent;
  border: none;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.burger-menu__line {
  width: 3.5rem;
  height: 0.2rem;
  background-color: #fff;
  border-radius: 2px;
}

.top-line,
.bottom-line {
  transition: all 0.4s;
}

.nav-bar {
  position: fixed;
  z-index: 2;
  left: 0;
  right: 0;
  top: 10rem;

  display: flex;
  justify-content: center;

  padding-top: 5rem;
  background-color: rgba(49, 60, 78, 0.95);
  min-height: 100vh;
  min-width: 100%;
  border-radius: 1rem;

  transform: translateX(100vw);

  transition: all 1s;
}

.nav-bar__links {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  font-size: 2.4rem;
}

.nav-bar__item a:hover,
.nav-bar__item a:visited,
.nav-bar__item a:active,
.nav-bar__item a:link {
  font-size: 3.2rem;
}

.burger-menu--active .middle-line {
  visibility: hidden;
}
.burger-menu--active .top-line {
  transform: translateY(1rem) rotate(45deg);
}
.burger-menu--active .bottom-line {
  transform: translateY(-1rem) rotate(-45deg);
}
.nav-bar--active {
  display: flex;
  transform: translateX(0);
  /* transform: translateX(0); */
}

/* ============= NAVIGATION ANIMATIONS ============= */
.hover-underline-animation {
  position: relative;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 0.25rem;
  border-radius: 1rem;

  bottom: -0.5rem;
  left: 0;
  right: 50%;
  background-color: #fff;
  transform-origin: 50% 50%;
  transition: transform 0.3s ease-out;
}

@media (hover: hover) {
  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: 50% 50%;
  }
}

/* ============= CONTACT SECTION ============= */
.section--contact {
  display: flex;
  flex-direction: row;

  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;

  color: #fff;
  padding: 2rem 0;
  padding-top: 15rem;
  padding-bottom: 15rem;
}

.section--personal-info,
.section--skills,
.section--language {
  max-width: 35rem;
  background-color: #313c4e;
  width: 100%;
  border-radius: 0.7rem;
  padding: 2rem;
  gap: 3rem;
}

/* ============= FOOTER ============= */
.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 6rem;

  width: 100%;
  background-color: #313c4e;
  color: #fff;
  border-radius: 8rem 1rem;
}

.footer__link {
  display: flex;
  align-items: center;
}

.footer__icon {
  width: 2.5rem;
}

.footer__icon path {
  fill: #fff;
}

.footer__desc-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  line-height: 2rem;
  font-size: 1.2rem;
}

/* ============= CSS FOR DOM MANIPULATION ============= */
.sticky-nav {
  position: sticky;
  top: 2rem;
  background-color: rgba(49, 60, 78, 0.95);
  z-index: 5;
}

.section--hidden {
  opacity: 0;
  transform: translateY(10rem);
}

.hidden {
  display: none;
}

.disable-scroll {
  overflow: hidden;
  height: 100vh;
}
